Objetive:
Organize data in local databases and tables for querying and modification using Python's pandas and sqlite3 libraries. During the process you will learn how to use Jupyter Notebook to edit and run Python programs; organize data in tables and query and combine data from tables using the SQL language; define your own functions, and use functions and modules from the pandas and sqlite3 libraries. Upon completion of this project you will be able to start querying with the SQL language.

Tasks
1 Exploring data in lists and tables Recognize objects from Python and the pandas library.
2 Processing files and tables with iterative and conditional statements Save and read data in CSV 
  files and process it with pandas tables and for, if, and try statements.
3 Creating a database of chemical elements Create tables in a database, insert data into the tables,
  and display the data.
4 Modifying tables and data Add columns of data, update values, and recreate tables.
5 Selecting and processing data Process data with pandas objects and methods and with SQL statements.
6 Creating related tables Distribute the data in a table into related tables and query data from
  multiple tables.

# Task 1
Exploring data in lists and tables

In [1]:
# asigna un objeto de texto, str
texto = "Una secuencia de caracteres entre comillas simples o dobles."

# muestra el valor de un objeto
print(texto)

Una secuencia de caracteres entre comillas simples o dobles.

In [2]:
# muestra el valor del objeto (al final de la celda)
texto

'Una secuencia de caracteres entre comillas simples o dobles.'

In [3]:
# texto de varias lÃ­neas con triples comillas (simples o dobles)
mensaje = """Un texto entre triples comillas puede
comprender varias lÃ­neas."""

print(mensaje)

Un texto entre triples comillas puede
comprender varias lÃ­neas.

Numbers

In [4]:
entero = 10         # objeto entero, int
decimal = 3.14      # objeto decimal, float
logico = True       # objeto logico, bool

print(entero, decimal, logico)

10 3.14 True

Tuple
Immutable sequence of objects

In [5]:
# una tupla de tres objetos (pueden encerrarse entre parÃ©ntesis)
tupla = (1, 2, 3)

tupla

(1, 2, 3)

In [6]:
# objetos separados por comas se muestran en una tupla
entero, decimal, logico

(10, 3.14, True)

In [7]:
# una tupla de un objeto: entre parentesis seguido de una coma
tupla = (20,)
tupla

(20,)

Listas
Secuencia mutable de objetos.

In [8]:
# una lista de cuatro nÃºmeros enteros
lista = [1, 2, 3, 4]

lista

[1, 2, 3, 4]

In [9]:
# el primer elemento de lista
lista[0]

1

In [10]:
# una lista con los elementos en las 
# posiciones o indices 1 y 2 de lista
lista[1 : 3]

[2, 3]

In [11]:
# una lista con los dos primeros elementos de lista
lista[:2]

[1, 2]

In [12]:
# agrega 10 al final de la lista
lista.append(10)

lista

[1, 2, 3, 4, 10]

In [13]:
# una lista de dos tuplas
lista_de_tuplas = [(1, 2), (3, 4)]

# la segunda tupla de la lista
lista_de_tuplas[1]

(3, 4)

In [14]:
# una tupla de dos tuplas
tupla_de_tuplas = ((1, 2), (3, 4))

# selecciona    la segunda tupla,      (3, 4), y luego 
#               |  el primer elemento,  3
#               |  |
tupla_de_tuplas[1][0]

3

In [15]:
# numero de elementos de lista
len(lista)

5

La biblioteca pandas

In [16]:
# importa la biblioteca pandas con el nombre equivalente pd
import pandas as pd

In [17]:
# objeto Series: datos and indices
serie = pd.Series([10, 20, 30])
serie

0    10
1    20
2    30
dtype: int64

In [18]:
# una serie de tres numeros con indices literales
serie = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
serie

a    10
b    20
c    30
dtype: int64

In [19]:
# objeto DataFrame: tabla de datos
pd.DataFrame(serie)

    0
a  10
b  20
c  30

In [20]:
# especifica el nombre de la columna
pd.DataFrame(serie, columns=['Enteros'])

   Enteros
a       10
b       20
c       30

In [24]:
# crea una tabla vacia
elementos_quimicos = pd.DataFrame()

# agrega una columna Elemento con los datos de una lista
elementos_quimicos['Elemento'] = ['Hidrogeno', 'Helio', 'Litio', 'Berilio']

elementos_quimicos

    Elemento
0  Hidrogeno
1      Helio
2      Litio
3    Berilio

In [25]:
# crea una columna Simbolo con los datos de otra lista
elementos_quimicos['Simbolo'] = ['H', 'He', 'Li', 'Be']

elementos_quimicos

    Elemento Simbolo
0  Hidrogeno       H
1      Helio      He
2      Litio      Li
3    Berilio      Be

In [26]:
# una lista de tuplas conteniendo pares de nombres y sÃ­mbolos de los elementos
elementos_y_simbolos = [('Hidrogeno', 'H'),
                        ('Helio', 'He'),
                        ('Litio', 'Li'),
                        ('Berilio', 'Be')]

# una tabla con una lista de tuplas como datos y nombres para las columnas
elementos_quimicos = pd.DataFrame(elementos_y_simbolos,
                                  columns=['Elemento', 'Simbolo'])
elementos_quimicos

    Elemento Simbolo
0  Hidrogeno       H
1      Helio      He
2      Litio      Li
3    Berilio      Be

In [27]:
# indices con los nÃºmeros atÃ³micos
elementos_quimicos.index = [1, 2, 3, 4]

# nombre de la columna de indices
elementos_quimicos.index.name = "Z"

elementos_quimicos

    Elemento Simbolo
Z
1  Hidrogeno       H
2      Helio      He
3      Litio      Li
4    Berilio      Be

In [28]:
# retorna un objeto Series con los datos de la cuarta fila
elementos_quimicos.iloc[3]

Elemento    Berilio
Simbolo          Be
Name: 4, dtype: object

In [29]:
# primera fila de la tabla
elemento = elementos_quimicos.iloc[0]

elemento

Elemento    Hidrogeno
Simbolo             H
Name: 1, dtype: object

In [31]:
# el dato con el indice 'Elemento'
elemento['Elemento']

'Hidrogeno'

In [32]:
# dato con el indice 'Simbolo'
elemento['Simbolo']

'H'

#Information

In [33]:
# help(list.append)
# help(pd)
# help(pd.Series)
# help(pd.Series.iloc)
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [34]:
# list.append?
# len?
# pd.Series.iloc?
# pd.DataFrame.iloc?
pd.Series?

# Tarea 2
Procesando archivos y tablas con sentencias iterativas y condicionales

File

In [35]:
# guarda la tablaen un archivo con el mÃ©todo to_csv
elementos_quimicos.to_csv("ElementosQuimicos.csv")

In [36]:
# lee el archivo con la funciÃ³n read_csv
pd.read_csv("ElementosQuimicos.csv")

   Z   Elemento Simbolo
0  1  Hidrogeno       H
1  2      Helio      He
2  3      Litio      Li
3  4    Berilio      Be

In [37]:
# elige la primera columna para los indices de la tabla
pd.read_csv("ElementosQuimicos.csv", index_col=0)

    Elemento Simbolo
Z
1  Hidrogeno       H
2      Helio      He
3      Litio      Li
4    Berilio      Be

In [38]:
# guarda la tabla sin incluir los indices
elementos_quimicos.to_csv("ElementosQuimicos.csv", index=False)

# lee el archivo
pd.read_csv("ElementosQuimicos.csv")

    Elemento Simbolo
0  Hidrogeno       H
1      Helio      He
2      Litio      Li
3    Berilio      Be

Sentencias de control
Sentencia for

In [ ]:
#help('for')

In [39]:
"""
for objeto in objeto_iterable:
    sentencias
[else:
    sentencias]
"""
for i in (10, "diez", "ten", 10.0):
    print(i)
else:
    print("Se mostraron los objetos de la tupla.")
    print("El valor final de i es", i)

10
diez
ten
10.0
Se mostraron los objetos de la tupla.
El valor final de i es 10.0

In [40]:
# la funciÃ³n range retorna una secuencia de nÃºmeros enteros

for i in range(4):           # para i tomando los valores 0, 1, 2 y 3
    print(i)                    # muestra el valor de i

0
1
2
3

In [41]:
# para i desde 0 hasta 3
for i in range(4):
    
    # elemento toma los datos de la fila i de elementos_quimicos
    elemento = elementos_quimicos.iloc[i]
    
    # muestra los datos con indices Elemento y Simbolo
    print(elemento['Elemento'], elemento['Simbolo'])

Hidrogeno H
Helio He
Litio Li
Berilio Be

Sentencia if

In [42]:
#help('if')

In [43]:
"""
if expresion:
    sentencias
(elif expression:
    sentencias
[else:
    sentencias]
"""
a = 10

if a > 0:
    print(a, "es positivo.")
elif a == 0:
    print(a, "es cero.")
else:
    print(a, "es negativo.")

10 es positivo.

In [45]:
# busca el nombre del elemento con sÃ­mbolo Li
for i in range(4):
    
    # toma la fila i
    elemento = elementos_quimicos.iloc[i]

    # si el simbolo es Li
    if elemento['Simbolo'] == 'Li':
        # muestra el nombre del elemeno
        print(elemento['Elemento'])
        
        # termina el bucle for
        break

Litio

In [47]:
# toma los datos de la columna Simbolo en un objeto Series
simbolos = elementos_quimicos['Simbolo']

# seÃ±ala con True los lugares donde el sÃ­mbolo es Li
filtro = simbolos == 'Li'

filtro

Z
1    False
2    False
3     True
4    False
Name: Simbolo, dtype: bool

In [48]:
# muestra los datos de la serie donde el simbolo es Li
simbolos[filtro]

Z
3    Li
Name: Simbolo, dtype: object

In [49]:
# muestra las filas de la tabla donde el simbolo es Li
elementos_quimicos[filtro]

  Elemento Simbolo
Z
3    Litio      Li

In [50]:
# selecciona la columna Elemento de la fila donde estÃ¡ el sÃ­mbolo Li
elementos_quimicos[filtro]['Elemento']

Z
3    Litio
Name: Elemento, dtype: object

In [51]:
# selecciona el elemento con simbolo Li
elementos_quimicos[filtro]['Elemento'].iloc[0]

'Litio'

In [52]:
# Encuentra un elemento a partir de su sÃ­mbolo.

# fija el sÃ­mbolo del hidrÃ³geno  
simbolo = 'H'

# datos de la columna Simbolo
simbolos = elementos_quimicos['Simbolo']

# datos de la columna Elemento donde aparece el objeto simbolo
resultado = elementos_quimicos[simbolos == simbolo]['Elemento']

# Si la serie resultado no estÃ¡ vacia
if len(resultado) != 0:
    print("El elemento con simbolo", simbolo, 'es', resultado.iloc[0])
else:
    print("No se encuentra el simbolo", simbolo)

El elemento con simbolo H es Hidrogeno

Sentencia try

In [53]:
# una divisiÃ³n entre 0 da error y el programa se interrumpe
x = 20 / 10     # cambiar 10 por 0

# esta instrucciÃ³n no se ejecuta
print(x)

2.0

In [ ]:
#help('try')

In [54]:
"""
try:
    sentencias
(except [expresion [as identificador]]:
    sentencias)
[else:
    sentencias]
[finally:
    sentencias]
"""
try:
    x = 20 / 10          # cambia 10 por 0
    print("x es", x)
except:
    print("Ha ocurrido un error.")
    x = 0
    print("x es", 0)

x es 2.0

# Tarea 3
Creando una base de datos de elementos quÃ­micosÂ¶

Importar la biblioteca sqlite3
Conectar con una base de datos
Crear un cursor o manejador de datos
Crear una tabla
Insertar registros en la tabla
Verificar los datos almacenados en la tabla
Guardar o actualizar los datos en la base de datos
Cerrar la conexiÃ³n

Creando una base de datos

In [55]:
# importa la biblioteca o mÃ³dulo sqlite3
import sqlite3

In [56]:
# la funciÃ³n connect del mÃ³dulo sqlite3 abre 
# una conexiÃ³n a una base de datos que 
# se crea automÃ¡ticamente si no existe

conector = sqlite3.connect('elementos_quimicos.db')

In [57]:
# crea un cursor o manejador de datos
cursor = conector.cursor()

Creando una tabla

In [58]:
# el metodo execute de cursor ejecuta una sentencia SQL
cursor.execute("DROP TABLE IF EXISTS elementos")

In [59]:
# sentencia SQL para crear una tabla de nombre elementos 
# con columnas id, nombre y simbolo:
#   id: de tipo nÃºmero entero (INTEGER) con el 
#       atributo PRIMARY KEY (identificador)
#   nombre, simbolo: datos de texto (TEXT) que 
#                    deben ser explicitos (NOT NULL)
sentencia = """
CREATE TABLE elementos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    simbolo TEXT NOT NULL)
"""

# ejecuta la sentencia SQL
cursor.execute(sentencia)

In [60]:
# retorna una lista de tuplas con informaciÃ³n de las columnas de la tabla:
#   - identificador de la columna
#   - nombre de la columna
#   - tipo de dato
#   - restricciÃ³n de notnull (0: no, 1: si)
#   - valor por defecto (None: no)
#   - forma parte de PRIMARY KEY (0: no, 1: si)

cursor.execute("PRAGMA table_info('elementos')").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'nombre', 'TEXT', 1, None, 0),
 (2, 'simbolo', 'TEXT', 1, None, 0)]

Ingresando datos en una tabla
Elementos conocidos hasta 1500: cobre, oro, plomo, plata, hierro, carbono, estaÃ±o, azufre, mercurio, zinc, arsÃ©nico, antimonio, bismuto https://es.wikipedia.org/wiki/Descubrimiento_de_los_elementos_qu%C3%ADmicos

INSERT INTO tabla    
    (columna1, columna2, columna3)
VAUES
    (valor1, valor2, valor3),
    (valor4, valor5, valor6)

In [61]:
# agrega registros a la tabla segÃºn el orden de
# las columnas al crear la tabla: id, nombre, simbolo
sentencia = """
INSERT INTO elementos
VALUES
    (1, 'Cobre', 'Cu')
"""

# ejecuta la sentencia SQL
cursor.execute(sentencia)

Consultando datos de una tabla
SELECT * FROM tabla

In [62]:
# selecciona todas las columnas de la tabla elementos
cursor.execute("SELECT * FROM elementos")

In [63]:
# retorna una lista de tuplas con los datos seleccionados
cursor.fetchall()

[(1, 'Cobre', 'Cu')]

FunciÃ³n para mostrar los datos de la tabla elementos

In [64]:
def ver_tabla():
    """
    Retorna una lista de tuplas representando 
    las fias de datos de la tabla elementos.
    """
    registros = cursor.execute("SELECT * FROM elementos").fetchall()
    return registros

In [65]:
# ejecuta la funcion
ver_tabla()

[(1, 'Cobre', 'Cu')]

In [66]:
# inserta registros especificando las columnas cuyos valores serÃ¡n ingresados
sentencia = """
INSERT INTO elementos
    (id, nombre, simbolo)
VALUES
    (2, 'Oro', 'Au'), 
    (3, 'Plomo', 'Pb')
"""
# ejecuta la sentencia SQL
cursor.execute(sentencia)

# muestra los datos de la tabla
ver_tabla()

[(1, 'Cobre', 'Cu'), (2, 'Oro', 'Au'), (3, 'Plomo', 'Pb')]

In [67]:
# inserta registros especificando los valores para los datos en las 
# columnas nombre y simbolo; los valores para la columna id (PRIMARY KEY) son 
# insertados automÃ¡ticamente incrementando los valores de uno en uno.
sentencia = """
INSERT INTO elementos
    (nombre, simbolo)
VALUES
    ('Plata', 'Ag'), 
    ('Hierro', 'Fe'), 
    ('Carbono', 'C'), 
    ('EstaÃ±o', 'Sn'), 
    ('Azufre', 'S'), 
    ('Mercurio', 'Hg'), 
    ('Zinc', 'Zn'), 
    ('ArsÃ©nico', 'As'), 
    ('Antimonio', 'Sb'), 
    ('Bismuto', 'Bi')
"""
cursor.execute(sentencia)
ver_tabla()

[(1, 'Cobre', 'Cu'),
 (2, 'Oro', 'Au'),
 (3, 'Plomo', 'Pb'),
 (4, 'Plata', 'Ag'),
 (5, 'Hierro', 'Fe'),
 (6, 'Carbono', 'C'),
 (7, 'EstaÃ±o', 'Sn'),
 (8, 'Azufre', 'S'),
 (9, 'Mercurio', 'Hg'),
 (10, 'Zinc', 'Zn'),
 (11, 'ArsÃ©nico', 'As'),
 (12, 'Antimonio', 'Sb'),
 (13, 'Bismuto', 'Bi')]

Salvando los cambios

In [68]:
# guarda los cambios en la base de datos
conector.commit()

Cerrando la conexiÃ³n

In [69]:
# cierra la conexiÃ³n del cursor
cursor.close()

In [70]:
# cierra la conexiÃ³n a la base de datos
conector.close()

# Tarea 4
Modificando tablas y datos

Creando funciones para manejo de errores

In [94]:
def conectar(base_de_datos):
    """ 
    Crea una conexiÃ³n y retorna el conector a la base de datos.
    Si no se obtiene un conector retorna None (nada).
    """
    
    conector = None;
        
    try:
        conector = sqlite3.connect(base_de_datos)

        print("ConexiÃ³n establecida a", base_de_datos)
    
    except:
        # si ocurre algÃºn error se ejecutan estas instrucciones
        print("Error en la conexiÃ³n a", base_de_datos)

    return conector

In [95]:
conector = conectar('elementos_quimicos.db')

ConexiÃ³n establecida a elementos_quimicos.db

In [96]:
cursor = conector.cursor()

In [97]:
# selecciona todas las columnas de elementos
cursor.execute("SELECT * FROM elementos")

# para cada fila o registro seleccionado
for registro in cursor:
    # muestra el dato
    print(registro)

(1, 'Cobre', 'Cu', None)
(2, 'Oro', 'Au', None)
(3, 'Plomo', 'Pb', None)
(4, 'Plata', 'Ag', None)
(5, 'Hierro', 'Fe', None)
(6, 'Carbono', 'C', None)
(7, 'EstaÃ±o', 'Sn', None)
(8, 'Azufre', 'S', None)
(9, 'Mercurio', 'Hg', None)
(10, 'Zinc', 'Zn', None)
(11, 'ArsÃ©nico', 'As', None)
(12, 'Antimonio', 'Sb', None)
(13, 'Bismuto', 'Bi', None)

In [98]:
# selecciona la columna nombre de la tabla elementos en la base de datos
cursor.execute("SELECT nombre FROM elementos").fetchall()

[('Cobre',),
 ('Oro',),
 ('Plomo',),
 ('Plata',),
 ('Hierro',),
 ('Carbono',),
 ('EstaÃ±o',),
 ('Azufre',),
 ('Mercurio',),
 ('Zinc',),
 ('ArsÃ©nico',),
 ('Antimonio',),
 ('Bismuto',)]

In [99]:
# selecciona las columnas nombre y simbolo de la tabla elementos
cursor.execute("SELECT nombre, simbolo FROM elementos").fetchall()

[('Cobre', 'Cu'),
 ('Oro', 'Au'),
 ('Plomo', 'Pb'),
 ('Plata', 'Ag'),
 ('Hierro', 'Fe'),
 ('Carbono', 'C'),
 ('EstaÃ±o', 'Sn'),
 ('Azufre', 'S'),
 ('Mercurio', 'Hg'),
 ('Zinc', 'Zn'),
 ('ArsÃ©nico', 'As'),
 ('Antimonio', 'Sb'),
 ('Bismuto', 'Bi')]

Presentando datos en tablas de pandas

In [100]:
# ejecuta la sentencia SQL pasando el conector a la base de datos
# y retorna una tabla con los datos de todas las columnas
pd.read_sql_query("SELECT * FROM elementos", conector)

    id     nombre simbolo Numero atomico
0    1      Cobre      Cu           None
1    2        Oro      Au           None
2    3      Plomo      Pb           None
3    4      Plata      Ag           None
4    5     Hierro      Fe           None
5    6    Carbono       C           None
6    7    EstaÃ±o      Sn           None
7    8     Azufre       S           None
8    9   Mercurio      Hg           None
9   10       Zinc      Zn           None
10  11  ArsÃ©nico      As           None
11  12  Antimonio      Sb           None
12  13    Bismuto      Bi           None

In [101]:
# fija el indice con la columna id
pd.read_sql_query("SELECT * FROM elementos", conector, index_col='id')

       nombre simbolo Numero atomico
id
1       Cobre      Cu           None
2         Oro      Au           None
3       Plomo      Pb           None
4       Plata      Ag           None
5      Hierro      Fe           None
6     Carbono       C           None
7     EstaÃ±o      Sn           None
8      Azufre       S           None
9    Mercurio      Hg           None
10       Zinc      Zn           None
11  ArsÃ©nico      As           None
12  Antimonio      Sb           None
13    Bismuto      Bi           None

Agregando una columna de numeros atomicos

In [102]:
# nÃºmeros atÃ³micos de los elementos quÃ­micos de la tabla elementos
numeros_atomicos = [29, 79, 82, 47, 26, 6, 50, 16, 80, 30, 33, 51, 83]

In [104]:
# ALTERA la TABLA elementos para AGREGAR la COLUMNA NÃºmero atÃ³mico de tipo ENTERO
cursor.execute("""ALTER TABLE elementos ADD COLUMN "Numero atomico" INTEGER""");

OperationalError: duplicate column name: Numero atomico

In [105]:
pd.read_sql_query("SELECT * FROM elementos", conector, index_col='id')

       nombre simbolo Numero atomico
id
1       Cobre      Cu           None
2         Oro      Au           None
3       Plomo      Pb           None
4       Plata      Ag           None
5      Hierro      Fe           None
6     Carbono       C           None
7     EstaÃ±o      Sn           None
8      Azufre       S           None
9    Mercurio      Hg           None
10       Zinc      Zn           None
11  ArsÃ©nico      As           None
12  Antimonio      Sb           None
13    Bismuto      Bi           None

In [106]:
# ACTUALIZA la tabla elementos
# FIJANDO el valor de 'NÃºmero atÃ³mico' igual a MARCADOR
# DONDE id sea igual a MARCADOR
sentencia = """
UPDATE elementos
SET    'Numero atomico' = ?
WHERE  id = ?
"""
# los marcadores son:
#    - el primer elemento de la lista de nÃºmeros atÃ³micos
#    - el indice 1
cursor.execute(sentencia, (numeros_atomicos[0], 1))

OperationalError: database is locked

In [ ]:
# muestra la tabla
pd.read_sql_query("SELECT * FROM elementos", conector, index_col='id')

In [107]:
# para cada nÃºmero entre 1 y el nÃºmero de elementos de la lista numeros_atomicos - 1
for i in range(1, len(numeros_atomicos)):
    # ejecuta la sentencia SQL con valores diferentes para el nÃºmero atÃ³mico y el Ã­ndice
    cursor.execute(sentencia, (numeros_atomicos[i], i + 1))
    
pd.read_sql_query("SELECT * FROM elementos", conector, index_col='id')

OperationalError: database is locked

Recreando la tabla elementos
El nÃºmero atÃ³mico identifica a un elemento quÃ­mico, entonces crearemos una tabla donde el nÃºmero atÃ³mico contenga el atributo PRIMARY KEY.

In [108]:
# elimina la tabla elementos
cursor.execute("DROP TABLE elementos")

OperationalError: database is locked

In [87]:
# crea una tabla elementos con columnas 
# Z (nÃºmero atÃ³mico), Elemento y SÃ­mbolo
cursor.execute("""
    CREATE TABLE elementos(
        Z INTEGER PRIMARY KEY,
        Elemento TEXT NOT NULL,
        SÃ­mbolo TEXT NOT NULL)
    """)

In [110]:
# lista de tuplas conteniendo los nombres, sÃ­mbolos y nÃºmeros atÃ³micos de elementos quÃ­micos
elementos = [('Cobre', 'Cu', 29), 
             ('Oro', 'Au', 79),
             ('Plomo', 'Pb', 82),
             ('Plata', 'Ag', 47),
             ('Hierro', 'Fe', 26),
             ('Carbono', 'C', 6),
             ('EstaÃ±o', 'Sn', 50),
             ('Azufre', 'S', 16),
             ('Mercurio', 'Hg', 80),
             ('Zinc', 'Zn', 30),
             ('ArsÃ©nico', 'As', 33),
             ('Antimonio', 'Sb', 51),
             ('Bismuto', 'Bi', 83)]

In [111]:
# el metodo executemany ejecuta la sentencia SQL para cada uno
# de los datos en la lista de tuplas.
cursor.executemany("""
INSERT INTO elementos
    (Elemento, Simbolo, Z)
VALUES
    (?, ?, ?)""", elementos)

pd.read_sql_query("SELECT * FROM elementos", conector, index_col='Z')

OperationalError: table elementos has no column named Elemento

In [112]:
cursor.close()
conector.commit()
conector.close()

In [ ]:
conector.cursor?

In [ ]:
help(cursor.execute)

In [ ]:
#cursor.execute?

In [ ]:
#cursor.fetchall?

Tarea 5
Seleccionando y procesando datosÂ¶

elementos.csv

NÃºmero atÃ³mico,Nombre,SÃ­mbolo,Periodo,Grupo,AÃ±o de descubrimiento,Descubridor
1,HidrÃ³geno,H,1,1,1766,T. Von Hohenheim
2,Helio,He,1,18,1895,Ramsay y Cleve
3,Litio,Li,2,1,1817,Arfwedson
...
116,Livermorio,Lv,7,16,2006,"JINR, LLNL"
117,Teneso,Ts,7,17,2010,JINR
118,OganesÃ³n,Og,7,18,2006,"JINR, LLNL"

In [ ]:
# crea una tabla con los contenidos del archivo elementos.csv
df = pd.read_csv("elementos.csv", index_col = 0)
df

In [ ]:
# muestra las primeras cinco filas
df.head()

In [ ]:
# conexiÃ³n a la base de datos
conector = conectar("elementos_quimicos.db")

In [ ]:
# cursor del conector
cursor = conector.cursor()

In [ ]:
# elimina la tabla elementos
cursor.execute("DROP TABLE IF EXISTS elementos")

In [ ]:
#df.to_sql?

In [ ]:
# crea la tabla elementos en la base de datos a partir de la tabla df de pandas
df.to_sql("elementos", conector)

In [ ]:
# informaciÃ³n de la tabla elementos en la base de datos
cursor.execute("PRAGMA table_info('elementos')").fetchall()

In [ ]:
# crea una tabla de pandas con los datos de la tabla elementos de la base de datos
pd.read_sql_query("SELECT * FROM elementos", conector, index_col='NÃºmero atÃ³mico')

In [ ]:
# limita los resultados a 10 registros con LIMIT 10
pd.read_sql_query("SELECT * FROM elementos LIMIT 10", conector, index_col='NÃºmero atÃ³mico')

In [ ]:
df = pd.read_sql_query("SELECT * FROM elementos", conector, index_col='NÃºmero atÃ³mico')
df.head(10)

In [ ]:
# serie con True donde el aÃ±o de descubrimiento es -1
filtro = df["AÃ±o de descubrimiento"] == -1

# tabla con los datos donde el aÃ±o de descubrimiento es -1
df[filtro]

In [ ]:
# ejecuta una sentencia SQL para seleccionar de la tabla elementos
# las filas donde el aÃ±o de descrubrimento es -1,
# y retorna una tabla de pandas
pd.read_sql_query("""SELECT * FROM elementos WHERE "AÃ±o de descubrimiento" = -1 """,
                  conector, 
                  index_col='NÃºmero atÃ³mico')

In [ ]:
# pandas
print("Elementos descubiertos en el siglo XXI:")
df[df["AÃ±o de descubrimiento"] >= 2000]

In [ ]:
# sentencia SQL y resultados en tabla de pandas
pd.read_sql_query("""SELECT * FROM elementos WHERE "AÃ±o de descubrimiento" >= 2000 """,
                  conector, 
                  index_col='NÃºmero atÃ³mico')

In [ ]:
# pandas: tabla con filas donde el nombre del elemento es ArsÃ©nico
df[df["Nombre"] == "ArsÃ©nico"]

In [ ]:
# SQL
# NOTA: si los datos ya estÃ¡n en una tabla es conveniente procesar 
# la tabla en lugar de consultar nuevamente a la base de datos
pd.read_sql_query("""SELECT * FROM elementos WHERE Nombre = "ArsÃ©nico" """,
                  conector,
                  index_col='NÃºmero atÃ³mico')

In [ ]:
# pandas: tabla organizada por aÃ±o de descubrimento en orden ascendente
df.sort_values(by=['AÃ±o de descubrimiento'])

In [ ]:
# La clÃ¡usula ORDER BY ordena columnas por 
# orden ascendente (ASC) por defecto o en orden descendente (DESC)
pd.read_sql_query("""SELECT * FROM elementos ORDER BY "AÃ±o de descubrimiento" """,
                  conector, index_col='NÃºmero atÃ³mico')

In [ ]:
# cierra la conexiÃ³n del cursor
cursor.close()

In [ ]:
# cierra la conexiÃ³n a la base de datos
conector.close()

# Tarea 6
Creando tablas relacionadasÂ¶

In [ ]:
conector = conectar("elementos_quimicos.db")

In [ ]:
cursor = conector.cursor()

In [ ]:
cursor = conector.cursor()

In [ ]:
# DISTINCT hace que la selecciÃ³n retorne valores Ãºnicos en las columnas
descubridores = pd.read_sql_query("SELECT DISTINCT descubridor FROM elementos", conector)

# la columna de Ã­ndices desde 1 hasta el nÃºmero de descubridores Ãºnicos
descubridores.index = range(1, len(descubridores) + 1)

# nombre para la columna de Ã­ndices
descubridores.index.name = 'id'

print("NÃºmero de descubridores:", len(descubridores))

descubridores

In [ ]:
# elimina la tabla descubridors si existe
cursor.execute("DROP TABLE IF EXISTS Descubridores")

# crea la tabla descubridores, con la columna id como PRIMARY KEY
cursor.execute("""
    CREATE TABLE Descubridores(
        id INTEGER PRIMARY KEY,
        Descubridor TEXT NOT NULL)
    """)

In [ ]:
# inserta los datos de la tabla de pandas descubridores
descubridores.to_sql("Descubridores", conector, if_exists='append')

In [ ]:
cursor.execute("PRAGMA table_info('descubridores')").fetchall()

In [ ]:
pd.read_sql_query("SELECT * FROM descubridores", 
                  conector, index_col='id')

In [ ]:
# tabla elementos de pandas
elementos = pd.read_csv('elementos.csv', index_col=0)

elementos.head()

In [ ]:
descubridores[descubridores['Descubridor'] == 'Rutherford']

In [ ]:
descubridores[descubridores['Descubridor'] == 'Rutherford'].index

In [ ]:
descubridores[descubridores['Descubridor'] == 'Rutherford'].index[0]

In [ ]:
ids = []
for i in df['Descubridor']:
    j = descubridores[descubridores['Descubridor'] == i].index[0]
    ids.append(j)
ids[:20]

In [ ]:
# habilita el uso de claves forÃ¡neas
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute("DROP TABLE IF EXISTS Elementos")

# crea una tabla con NÃºmero atÃ³mico como PRIMARY KEY
# y Descubridor como FOREIGN KEY
cursor.execute("""
    CREATE TABLE Elementos(
        'NÃºmero atÃ³mico' INTEGER PRIMARY KEY,
        Nombre TEXT NOT NULL,
        SÃ­mbolo TEXT NOT NULL,
        Periodo INTEGER NOT NULL,
        Grupo INTEGER NOT NULL,
        'AÃ±o de descubrimiento' INTEGER NOT NULL,
        Descubridor INTEGER NOT NULL,
        FOREIGN KEY(Descubridor) REFERENCES Descubridores(id) ON UPDATE CASCADE ON DELETE CASCADE)
    """)

In [ ]:
cursor.execute("PRAGMA table_info('Elementos')").fetchall()

In [ ]:
pd.read_sql_query("SELECT * FROM elementos", conector)

In [ ]:
# cambia la columna Descubridor de la tabla pandas elementos
elementos['Descubridor'] = ids

elementos.head()

In [ ]:
# inserta los datos de la tabla de pandas descubridores
elementos.to_sql("Elementos", conector, if_exists='append')

In [ ]:
elementos = pd.read_sql_query("SELECT * FROM Elementos", 
                              conector, index_col='NÃºmero atÃ³mico')
elementos.head(20)

In [ ]:
descubridores = pd.read_sql_query("SELECT * FROM Descubridores", conector, index_col='id')
descubridores.head(12)

Combinando selecciones de tablasÂ¶

In [ ]:
df = pd.read_sql_query("""
    SELECT
        "NÃºmero atÃ³mico",
        Nombre,
        Descubridores.Descubridor
    FROM
        Elementos, Descubridores
    WHERE
        Elementos.Descubridor = Descubridores.Id
    """, conector, index_col='NÃºmero atÃ³mico')
df.head()

In [ ]:
df = pd.read_sql_query("""
    SELECT
        "NÃºmero atÃ³mico",
        Nombre,
        Descubridores.Descubridor 
    FROM
        Elementos JOIN Descubridores
    ON
        Elementos.Descubridor = Descubridores.id
    """, conector, index_col='NÃºmero atÃ³mico')
df.head()

In [ ]:
pd.read_sql_query("""
    SELECT
        "NÃºmero atÃ³mico", Nombre, Descubridores.Descubridor 
    FROM
        Elementos JOIN Descubridores
    ON
        Elementos.Descubridor = Descubridores.Id AND
        Descubridores.Descubridor = 'Oersted'
    """, conector, index_col='NÃºmero atÃ³mico')

In [ ]:
pd.read_sql_query("""
    SELECT
        "NÃºmero atÃ³mico", Nombre, Descubridores.Descubridor 
    FROM
        Elementos JOIN Descubridores
    ON
        Elementos.Descubridor = Descubridores.Id AND
        Descubridores.Descubridor = 'Seaborg'
    """, conector, index_col='NÃºmero atÃ³mico')

In [ ]:
pd.read_sql_query("""
    SELECT
        "NÃºmero atÃ³mico",
        Nombre, 
        Descubridores.Descubridor 
    FROM
        Elementos, Descubridores
    WHERE
        Elementos.Descubridor = Descubridores.Id AND
        Grupo = 18
    """, conector, index_col='NÃºmero atÃ³mico')

In [ ]:
pd.read_sql_query("""
    SELECT "NÃºmero atÃ³mico", 
           Nombre, 
           Descubridores.Descubridor,
           "AÃ±o de descubrimiento"
    FROM 
        Elementos, Descubridores
    WHERE 
        Elementos.Descubridor = Descubridores.Id AND 
        "AÃ±o de descubrimiento" >= 1700 AND "AÃ±o de descubrimiento" < 1800
    ORDER BY "AÃ±o de descubrimiento"
    """, conector, index_col='NÃºmero atÃ³mico')

In [ ]:
pd.read_sql_query("""
    SELECT 
        "NÃºmero atÃ³mico", 
        Nombre, 
        Descubridores.Descubridor, 
        "AÃ±o de descubrimiento" 
    FROM
        Elementos, Descubridores
    WHERE Elementos.Descubridor = Descubridores.Id AND
          "AÃ±o de descubrimiento" BETWEEN 1700 and 1799
    ORDER BY "AÃ±o de descubrimiento"
    """, conector, index_col='NÃºmero atÃ³mico')

Â¿CuÃ¡ntos elementos descubriÃ³ cada descubridor?Â¶

In [ ]:
pd.read_sql_query("""
    SELECT 
        COUNT(Elementos.Descubridor) AS Numero,
        Descubridores.Descubridor
    FROM
        Elementos, Descubridores
    WHERE
        Elementos.Descubridor = Descubridores.Id
    GROUP BY
        Elementos.Descubridor
    ORDER BY
        Numero DESC
    """, conector)

In [ ]:
pd.read_sql_query("""
    SELECT 
        COUNT(Elementos.Descubridor) AS Numero,
        Descubridores.Descubridor
    FROM
        Elementos, Descubridores
    WHERE
        Elementos.Descubridor = Descubridores.Id
    GROUP BY
        Elementos.Descubridor
    HAVING
        Numero >= 3
    ORDER BY
        Numero DESC
    """, conector)

In [ ]:
cursor.execute("DELETE FROM Descubridores WHERE id = 6")

In [ ]:
cursor.execute("SELECT * FROM Descubridores").fetchmany(10)

In [ ]:
cursor.execute("SELECT * FROM Elementos").fetchmany(20)

In [ ]:
conector.commit()

In [ ]:
cursor.close()
conector.close()